*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;
}

.data-map-lineage {
  margin: 0 auto;
  min-width: 400px;
  min-height: 300px;
}

.data-map-lineage svg {
  min-width: 1000px;
  width: 100%;
  height: 700px;
}

.data-map-lineage .node {
  cursor: pointer;
}

.data-map-lineage .nodetext {
  font-size: 10px;
  font-family: sans-serif
}

.data-map-lineage .noderect {
  stroke: #999;
  fill: #fff;
  stroke-width: 1.5px
}

.data-map-lineage .node.label {
  fill: #868686
}

.data-map-lineage .nodecircle {
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  transition: all .3s;
  stroke-width: 1.5px
}

.data-map-lineage .nodecircle.nodeImage.green:hover {
  stroke: #8bc152
}

.data-map-lineage .nodecircle.nodeImage.blue:hover {
  stroke: #4b91e2
}

.data-map-lineage .node circle.nodeImage.currentNode {
  stroke: #fb4200
}

.data-map-lineage .node circle.nodeImage:hover {
  -moz-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  transform: scale(1.4)
}

.data-map-lineage .node:focus circle {
  -moz-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  transform: scale(1.4)
}

.data-map-lineage .node:focus circle.nodeImage.green {
  stroke: #8bc152
}

.data-map-lineage .node:focus circle.nodeImage.blue {
  stroke: #4b91e2
}

.d3-tip {
  line-height: 1;
  font-weight: 700;
  padding: 15px;
  line-height: 22px;
  background: rgba(0, 0, 0, .8);
  color: #fff;
  z-index: 999;
  min-width: 300px;
  max-width: 400px;
  border-radius: 2px;
  word-break: break-all;
  white-space: pre-wrap;
}

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, .8);
  position: absolute;
  font-family: times;
}

.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center
}

.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px
}

.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center
}

.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%
}
